{% extends 'base.html' %} {% block content %}

{% load static %}

<html lang="en">
  <head>
    <title>Biyung Cafe Home - Items Ordered</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <div class="container mt-5">
    <h1 class="text-center text-light">Welcome to Biyung Cafe</h1>
    <h2 class="text-center text-light">Where Flavor Meets Divine</h2>
    <h3 class="text-center text-light">Welcome {{ name }} !</h3>
  </div>
</html>
{% if not product_entries %}
<div class="text-center text-light mt-4">
  <img
    src="{% static 'products/no-cheese.png' %}"
    alt="No Products"
    class="img-fluid mb-3"
    style="max-width: 300px"
  />
  <p style="color: rgb(243, 247, 251)">
    Belum ada data product pada Biyung Cafe.
  </p>
</div>

{% else %}
<div class="row">


    {% comment "Berikut cara memperlihatkan data product di bawah baris ini" %}
    <p>Berikut adalah data product</p>
    {% endcomment %} 
    
    {% for product_entry in product_entries %}
    <div class="col-md-4">
      <div class="card h-50 shadow-sm">
  
        <div class="card-body">

            <!-- <td>{{product_entry.id}}</td> -->
            <h5 class="card-title">{{product_entry.name}}</h5>
            <p class="card-text">{{product_entry.price}}</p>
            <p class="card-text">{{product_entry.description}}</p>

            <!-- Action Buttons -->
            <div class="card-footer d-flex justify-content-center">
                  <a href="{% url 'main:edit_product' product_entry.pk %}">
                    <button class="btn btn-info">Edit</button>
                  </a>

                  <a href="{% url 'main:delete_product' product_entry.pk %}">
                    <button class="btn btn-danger">Delete</button>
                  </a>

            </div>
            
        </div>
      </div>
    {% endfor %}
  </table>
</div>

{% endif %}
<br />
<br />

<div>
  <a href="{% url 'main:create_product_entry' %}" class="btn btn-success">
    <button>Add New Product Entry</button>
  </a>
  <a href="{% url 'main:logout' %}" class="btn btn-secondary">
    <button>Logout</button>
  </a>
</div>
<h5 style="color: aliceblue">Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
